#post
  .post-tools
    display: flex
    width: 100%
    justify-content: center
    margin-top: 8px
    flex-wrap: wrap
    user-select: none

    .post-tools-left
      white-space: nowrap
      display: flex
      gap: .5rem
      text-overflow: ellipsis
      justify-content: center
      flex-wrap: wrap

      #quit-box
        position: fixed
        width: 100vw
        height: 100vh
        background: rgba(0, 0, 0, .2)
        top: 0
        left: 0
        opacity: .01
        display: none
        z-index: 101
        margin: 0

        +maxWidth628()
          height: calc(100vh - 380px)

  .post-tools-right
    display: flex
    align-items: center
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    padding 0 2rem
    +maxWidth628()
      padding: 0 .5rem

    .tag_share
      .post-meta__tag-list
        display: flex
        padding: 0
        width: 100%
        flex-wrap: wrap
        flex-direction: row

        a
          margin-bottom: 8px
          margin-right: 8px

        .post-meta__tags
          background: var(--efu-card-bg)
          border: var(--style-border-always)
          color: var(--efu-fontcolor)
          border-radius: 8px
          display: flex
          align-items: center
          white-space: nowrap
          height: 40px
          padding: 0 .6rem
          width: fit-content
          font-size: .85em
          transition: all .2s ease-in-out 0s

          &:hover
            background: var(--efu-lighttext)
            box-shadow: var(--efu-shadow-main)
            color: var(--efu-white)

            span.tagsPageCount
              color: var(--efu-lighttext)
              background: var(--efu-maskbgdeep)
              transition: all .2s ease-in-out 0s

          span.tags-punctuation
            font-size: 12px
            margin-right: 1px
            display: flex
            align-items: center

          .tagsPageCount, /  #tag-page-tags .tagsPageCount
            padding: 2px
            background: var(--efu-fontcolor)
            border: var(--style-border-always)
            min-width: 22.5px
            display: inline-block
            border-radius: 4px
            text-align: center
            font-size: .6rem
            color: var(--efu-card-bg)
            margin-left: 4px